h3,h5
{
    align-items: center;
    border-width:1px; 
    border-style:groove;
    border:2px solid rgb(184, 246, 98);
    background-color: rgb(61, 142, 223);
}
.flex
{   
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   
}
div.cls1
{
    padding: 40px;
    max-width: max-content;
    
}
.items
{
    padding:20px;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-style: oblique;
}
.image1 {
    width: 250;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.cls2
{
    align-items: center;
    display:inline-grid;
    margin-left: 300px;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.item1{
    border:2px solid rgb(213, 84, 149);
    text-align: center;
    padding: 20px;
    font-style: italic;
    background-color: antiquewhite;
}
.cls3
{
    align-items: center;
    display:inline-grid;
    margin-left: 150px;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.cls4
{
    align-items: center;
    display:inline-grid;
    margin-left: 150px;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.grid
{
    margin: 5px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-align: center;
   
}
.grid1
{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
   
}
div.cls4{
    background-color:black;
    color:white
}
div.grid{
    background-color: rgb(235, 203, 230);
}
