body{
    box-decoration-break: slice;
}
.flexprop
{
    display: inline-flex;
    justify-content:space-evenly;
    font size: 100px;
    align-items:center;
    background-color:black;
    flex-direction:column;
}
.item
{
    background-color: aqua;
    padding: 10px;
    border-radius: 2px;
    border-color: darksalmon;

}